main {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

/* Base styles for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

/* Base styles for paragraphs */
p {
  font-family: 'Georgia', serif;
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 1em;
  text-align: justify;
}

/* Base styles for ordered and unordered lists */
ol, ul {
  font-family: 'Georgia', serif;
  font-size: 1rem;
  color: #666;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}

/* Additional styles for unordered lists */
ul {
  list-style-type: disc;
}

ul.centered-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.centered-list li {
  width: 100%;
}

/* Additional styles for ordered lists */
ol {
  list-style-type: decimal;
}

/* Base styles for links */
a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



/* Custom named classes */
.profile-name {
  font-size: 2em; /* Adjust as needed */
  margin-bottom: 0.2em; /* Adjust as needed */
}

.profile-title {
  font-size: 1.5em; /* Adjust as needed */
  margin-top: 0; /* Adjust as needed */
}